*{box-sizing : border-box; font-family: "Indie Flower", sans-serif; font-weight: 600;}
.grid{
    display: grid;
    padding: 0.5rem;
}
body{
    position: relative;
}
.logoimg{
    width: 80%;
}
.center{
    justify-self: center;
    align-self: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}
a{
    color: black;
}
.special{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: blue;
}
.selection{
    grid-template-columns: auto auto auto;
    place-items: center;
}
.footp{
    width: 50%;
    margin-bottom: 0.25rem;
}
.grid-col{
    padding: 0.25rem 0.5rem
}
.bold{
    font-weight: bold;
}
.meal_card{
    margin: 0.5rem 0.25rem;
}
ul{
    padding : 0;
}
.five_cols{
    grid-template-columns: auto auto auto auto auto;
}
.two_cols{
    grid-template-columns: 60% auto;
}
h2{
    font-size: 2.5rem;
    font-weight: 900;
}
.image_holder{
    height: 80%;
    display: grid;
    place-items: center;
}
.mealname_bold{
    font-size: 2.5rem; font-weight: bold;
}
.foodshot{
    width: 80%;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem
}
a{
    text-decoration: none;
}
.nav a{
    padding: 0.5rem 0.25rem;
}
a:hover{
    font-style: italic;
}
.search_button{
    padding: 1rem 0;
    font-size: 2.5rem;
    align-self: end;
}
.mega a{
    text-align: justify;
}
.link{
    font-size: 1.5rem;
    text-align: center;
    padding: 0 0.25rem;
    display: inline-block;
    width: 100%;
}
.six_cols, .nav{
    grid-template-columns: auto auto auto auto auto auto;
}
.centered{
    place-items: center;
}
.search_div{
    grid-template-columns: 80% auto;
}
.card{
    place-items: center;
    grid-template-columns: 50% 40%;
    background-color: #FFD7C9;
    border-radius: 1.5rem;
} .card img{
    width: 60%;
}
img{
    transition: 0.5s all ease-in-out
}
img:hover{
    opacity: 0.55;
}
.instructions{
    text-indent: 1.5rem;
    line-height: 2rem;
}
.mega{
    font-size: 5rem;
    text-indent: 1.5rem;
}
@media screen and (max-width: 768px){
    html{
        font-size: 10px;
    }
    .grid{
        grid-template-columns: 100%;
    }
    .image_holder{
        height: auto;
    }
    .mega{
        margin: 2rem 0;
    }
    .results{
        width: 100%;
    }
    ul{
        padding: 2.5rem;
        margin: 0;
    }
    .mega{
        font-size: 3.5rem;
    }
}
.food-text{
    padding: 0.25rem 0.5rem;
}
